*
!.Xclients
!.bash_logout
!.bashrc
!.cache/.keep
!.cache/vm_images/.keep
!.config/Code/User/keybindings.json
!.config/Code/User/settings.json
!.config/alacritty/alacritty.toml
!.config/alacritty/theme_dark.toml
!.config/alacritty/theme_light.toml
!.config/bat/config_dark.config
!.config/bat/config_light.config
!.config/displays_to_connect/.keep
!.config/docker/my.dockerfile
!.config/docker/my_base.dockerfile
!.config/docker/test.dockerfile
!.config/dpi/default_dpi_options.sorted_numeric.txt
!.config/dunst/dunstrc
!.config/extension_links/.Xclients.sh
!.config/extension_links/.bash_logout.sh
!.config/extension_links/.bashrc.sh
!.config/extension_links/.config/Code/User/keybindings.json.sorted.json
!.config/extension_links/.config/Code/User/settings.json.sorted.json
!.config/extension_links/.config/dunst/dunstrc.ini
!.config/extension_links/.config/git/config.ini
!.config/extension_links/.config/global_configs/etc/apt/apt.conf.d/98_no_recommends.conf
!.config/extension_links/.config/global_configs/etc/apt/apt.conf.d/98_no_suggests.conf
!.config/extension_links/.config/global_configs/etc/default/google-chrome.ini
!.config/extension_links/.config/global_configs/etc/default/grub.conf
!.config/extension_links/.config/global_configs/etc/default/keyboard.conf
!.config/extension_links/.config/global_configs/etc/network/interfaces.conf
!.config/extension_links/.config/i3/config.conf
!.config/extension_links/.config/i3status/config.conf
!.config/extension_links/.config/user_configs/.config/Signal/Preferences.json
!.config/extension_links/.dmrc.ini
!.config/extension_links/.fehbg.sh
!.config/extension_links/.gitignore.txt
!.config/extension_links/.gitmodules.ini
!.config/extension_links/.inputrc.unknown
!.config/extension_links/.local/bin/I.sh
!.config/extension_links/.local/bin/alert.sh
!.config/extension_links/.local/bin/bb.sh
!.config/extension_links/.local/bin/copy.sh
!.config/extension_links/.local/bin/fzfcommandsearch.sh
!.config/extension_links/.local/bin/git-ls.sh
!.config/extension_links/.local/bin/gla.sh
!.config/extension_links/.local/bin/i3_res.sh
!.config/extension_links/.local/bin/i3_xrl.sh
!.config/extension_links/.local/bin/l.sh
!.config/extension_links/.local/bin/la.sh
!.config/extension_links/.local/bin/line.sh
!.config/extension_links/.local/bin/ll.sh
!.config/extension_links/.local/bin/lock.sh
!.config/extension_links/.local/bin/lower.sh
!.config/extension_links/.local/bin/mksh.sh
!.config/extension_links/.local/bin/not.sh
!.config/extension_links/.local/bin/not_sudo.sh
!.config/extension_links/.local/bin/pasta.sh
!.config/extension_links/.local/bin/pc.sh
!.config/extension_links/.local/bin/pcyall.sh
!.config/extension_links/.local/bin/pint.sh
!.config/extension_links/.local/bin/scratch.sh
!.config/extension_links/.local/bin/tempe.sh
!.config/extension_links/.local/bin/terminal_pager.sh
!.config/extension_links/.local/bin/timer.sh
!.config/extension_links/.local/bin/today.sh
!.config/extension_links/.local/bin/upper.sh
!.config/extension_links/.local/bin/vim.sh
!.config/extension_links/.local/bin/vimdiff.sh
!.config/extension_links/.npmrc.ini
!.config/extension_links/.profile.sh
!.config/extension_links/.psqlrc.unknown
!.config/extension_links/.xsession.sh
!.config/extension_links/.xsessionrc.sh
!.config/fontconfig/fonts.conf
!.config/git/config
!.config/git/dotfiles/.keep
!.config/git/gitignore.sorted.txt
!.config/git/hooks/post-commit
!.config/git/hooks/pre-commit
!.config/global_configs/etc/X11/xorg.conf.d/40_tap_to_click.conf
!.config/global_configs/etc/apt/apt.conf.d/98_no_recommends
!.config/global_configs/etc/apt/apt.conf.d/98_no_suggests
!.config/global_configs/etc/apt/sources.list
!.config/global_configs/etc/apt/sources.list.d/caddy.sources
!.config/global_configs/etc/apt/sources.list.d/chrome_remote_desktop.sources
!.config/global_configs/etc/apt/sources.list.d/debian.sources
!.config/global_configs/etc/apt/sources.list.d/google_chrome.sources
!.config/global_configs/etc/apt/sources.list.d/nordvpn.sources
!.config/global_configs/etc/apt/sources.list.d/signal.sources
!.config/global_configs/etc/apt/sources.list.d/tailscale.sources
!.config/global_configs/etc/apt/sources.list.d/vscode.sources
!.config/global_configs/etc/default/google-chrome
!.config/global_configs/etc/default/grub
!.config/global_configs/etc/default/keyboard
!.config/global_configs/etc/docker/daemon.json
!.config/global_configs/etc/grub.d/99_my_theme.sh
!.config/global_configs/etc/modprobe.d/hid_apple.conf
!.config/global_configs/etc/modprobe.d/iwlwifi.conf
!.config/global_configs/etc/network/interfaces
!.config/global_configs/etc/ssh/sshd_config.d/01_my_sshd.conf
!.config/global_configs/etc/tlp.d/90_tlp_battery_threshold.conf
!.config/gtk-3.0/settings_dark.ini
!.config/gtk-3.0/settings_light.ini
!.config/i3/config
!.config/i3/my_auto_run.sh
!.config/i3status/config
!.config/mimeapps.list
!.config/nvim/init.vim
!.config/nvim/theme.lua
!.config/packages/packages_main.sorted.txt
!.config/packages/packages_nvidia.sorted.txt
!.config/packages/packages_other.sorted.txt
!.config/python/pyproject.toml
!.config/redshift.conf
!.config/rofi/config.rasi
!.config/rofi/theme_dark.rasi
!.config/rofi/theme_light.rasi
!.config/ruff/pyproject.toml
!.config/set_audio/.keep
!.config/set_audio/x1.txt
!.config/theme/theme_dark.txt
!.config/theme/theme_light.txt
!.config/tmux/tmux.conf
!.config/user-dirs.locale
!.config/user_configs/.config/Signal/Preferences
!.config/user_configs/.config/Signal/ephemeral.json
!.config/user_configs/.config/transmission/settings.json
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
!.dmrc
!.fehbg
!.github/workflows/test.yml
!.gitignore
!.gitmodules
!.inputrc
!.ipython/profile_default/ipython_config.py
!.jupyter/custom/custom.css
!.local/bin/.config_sshd.sh
!.local/bin/.keep
!.local/bin/I
!.local/bin/alert
!.local/bin/bat
!.local/bin/bb
!.local/bin/cached_command.sh
!.local/bin/cat.py
!.local/bin/check_if_remote.sh
!.local/bin/check_integrity_of_tracked_dir.sh
!.local/bin/connect_displays.sh
!.local/bin/copy
!.local/bin/disable_ertm.sh
!.local/bin/disable_sleep.sh
!.local/bin/dotfiles_git_merge_branches_post_commit.sh
!.local/bin/dotfiles_merge_continue
!.local/bin/dotfiles_public.sh
!.local/bin/edit_clipboard.sh
!.local/bin/enable_thunderbold_dock.sh
!.local/bin/fd
!.local/bin/fix_internet_post_install.sh
!.local/bin/fix_touchpad.sh
!.local/bin/format.sh
!.local/bin/format_json.py
!.local/bin/format_nvim.sh
!.local/bin/fzfcommandsearch
!.local/bin/geoclue-2-agent
!.local/bin/git-ls
!.local/bin/git-prev_merge_commit.sh
!.local/bin/gla
!.local/bin/i3_blank_screen.sh
!.local/bin/i3_compositor.sh
!.local/bin/i3_n_column_layout.py
!.local/bin/i3_res
!.local/bin/i3_screen_locker.sh
!.local/bin/i3_set_dpi.sh
!.local/bin/i3_theme_detection
!.local/bin/i3_xrl
!.local/bin/i3status_file_updaters/.keep
!.local/bin/i3status_run_file_updaters.sh
!.local/bin/i3status_wrapper.py
!.local/bin/import
!.local/bin/install_code_extensions.sh
!.local/bin/install_scripts/config_global.sh
!.local/bin/install_scripts/config_user.sh
!.local/bin/install_scripts/install_global.sh
!.local/bin/install_scripts/install_packages.sh
!.local/bin/install_scripts/install_user.sh
!.local/bin/install_scripts/main.sh
!.local/bin/kill_others_with_given_name.sh
!.local/bin/l
!.local/bin/la
!.local/bin/line
!.local/bin/list_backgrounds.sh
!.local/bin/ll
!.local/bin/lock
!.local/bin/lower
!.local/bin/mksh
!.local/bin/nato.py
!.local/bin/not
!.local/bin/not_sudo
!.local/bin/pasta
!.local/bin/pc
!.local/bin/pcyall
!.local/bin/pint
!.local/bin/post_commit_hook.sh
!.local/bin/pre_commit_hook.sh
!.local/bin/propagate_config_to.sh
!.local/bin/qr_from_clipboard.sh
!.local/bin/reboot
!.local/bin/reboot_if_no_internet.sh
!.local/bin/remove_etc_resolv_conf.sh
!.local/bin/run_menu.sh
!.local/bin/sanitize_synced_files.sh
!.local/bin/save_code_extensions.sh
!.local/bin/scan_text.sh
!.local/bin/scratch
!.local/bin/set_audio.sh
!.local/bin/set_background.sh
!.local/bin/set_display.py
!.local/bin/set_dpi.sh
!.local/bin/set_keymap.sh
!.local/bin/set_theme.sh
!.local/bin/set_touchpad.sh
!.local/bin/set_touchpads.sh
!.local/bin/shls.py
!.local/bin/show_mic_status.sh
!.local/bin/shutdown
!.local/bin/simple_format_server.py
!.local/bin/sleep_forever.sh
!.local/bin/start_docker_server.sh
!.local/bin/sync_backup.sh
!.local/bin/tempe
!.local/bin/terminal_pager
!.local/bin/timer
!.local/bin/today
!.local/bin/toggle_mouse.sh
!.local/bin/unic.py
!.local/bin/upload_server.sh
!.local/bin/upper
!.local/bin/url.py
!.local/bin/vi
!.local/bin/vim
!.local/bin/vimdiff
!.local/bin/wget_with_defaults.sh
!.local/bin/xterm
!.local/share/applications/.keep
!.local/share/applications/apps/qr_from_clipboard.desktop
!.local/share/applications/apps/scan_text.desktop
!.local/share/applications/i3/blank_screen.desktop
!.local/share/applications/i3/set_display.desktop
!.local/share/applications/i3/set_dpi.desktop
!.local/share/applications/launcher/app_switcher.desktop
!.local/share/applications/launcher/run_menu.desktop
!.local/share/applications/launcher/ssh_menu.desktop
!.local/share/applications/settings/toggle_theme.desktop
!.local/share/applications/system/reboot.desktop
!.local/share/applications/system/shutdown.desktop
!.local/share/applications/system/sleep.desktop
!.local/share/applications/vpn/fix_tailscale_nordvpn.desktop
!.local/share/applications/vpn/nordvpn_off_tailscale_up.desktop
!.local/share/applications/vpn/nordvpn_on_tailscale_down.desktop
!.local/share/applications/web/gmail.desktop
!.local/share/applications/web/google_calendar.desktop
!.local/share/applications/web/messenger.desktop
!.local/share/applications/web/telegram.desktop
!.local/share/applications/web/whatsapp.desktop
!.local/share/backgrounds/.keep
!.local/share/backgrounds/backgrounds_both.dir/.keep
!.local/share/backgrounds/backgrounds_dark.dir/.keep
!.local/share/backgrounds/backgrounds_dark.dir/backgrounds_both.dir
!.local/share/backgrounds/backgrounds_light.dir/.keep
!.local/share/backgrounds/backgrounds_light.dir/backgrounds_both.dir
!.local/share/code-server/User
!.local/share/code-server/extensions
!.local/share/git-core/contrib/completion/git-prompt.sh
!.local/share/glib-2.0/schemas/com.github.stunkymonkey.nautilus-open-any-terminal.gschema.xml
!.local/share/icons/.keep
!.local/share/nautilus-python/extensions/open_any_terminal_extension.py
!.local/share/nvim
!.local/state/nvim/.keep
!.local/state/nvim/site/pack/plugins/opt/fzf
!.local/state/nvim/site/pack/plugins/opt/fzf.vim
!.local/state/nvim/site/pack/plugins/opt/nvim-lspconfig
!.local/state/nvim/site/pack/plugins/opt/suda.vim
!.local/state/nvim/site/pack/plugins/opt/vim-commentary
!.local/state/nvim/site/pack/plugins/opt/vim-gitgutter
!.local/state/nvim/site/pack/plugins/opt/vim-sleuth
!.local/state/nvim/site/pack/plugins/opt/vim-surround
!.npmrc
!.profile
!.psqlrc
!.vscode-server/data/Machine
!.vscode-server/extensions
!.vscode/extensions/.keep
!.xprofile
!.xsession
!.xsessionrc
!Documents/.keep
!Downloads/.keep
!LICENSE.md
!Music/.keep
!Music/radio.xspf
!Pictures/.keep
!README.md
!Videos/.keep
