[Desktop Entry]
Categories=System;
Comment=Reboot system
Exec=systemctl reboot
Icon=view-refresh
Name=Reboot
NoDisplay=false
StartupNotify=false
Terminal=false
Type=Application
