[Desktop Entry]
Categories=System;
Comment=Global search
Exec=rofi -combi-modi window,drun,ssh -show combi
Icon=edit-find
Name=Rofi search
Terminal=false
Type=Application
