[Desktop Entry]
Categories=System;
Comment=To shutdown the computer
Exec=systemctl poweroff
Icon=system-shutdown
Name=Shutdown
Terminal=false
Type=Application
