[Desktop Entry]
Categories=System;
Comment=Application switcher
Exec=rofi -show window
Icon=view-restore
Name=List windows
NoDisplay=false
StartupNotify=false
Terminal=false
Type=Application
